html, body{
    background-color: #DDD;
    height: 100%;
    margin: 0px;
}

footer{
    color: #ffffff;
    height: 120px;
    margin-top: 30px;
    background-color: #533B75;
}

.container {
    min-height: 100%;
    /* margin-bottom: -150px; */
}

.push{
    height: 150px;
}

.image-user{
    max-height: 250px;
}

.banner{
    padding: 35px 35px;
    margin: 0px;
    background-color: #fff9ff;
}

.banner h3{
    margin: 0px;
}

.image-round-square{
    border-radius: 30%;
}

.uk-button.add, .uk-button.student{
    background-color: #b053b2;
    color: #ffffff;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #533B75;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.uk-navbar-nav > li > a {
    color: #FFF;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
}

.uk-navbar-nav li a{
    height: 60px;
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a.uk-open {
    color: #FFF;
    outline: none;
    background-color: #b053b2;
}

.uk-navbar-nav > li > a:focus{
    color: #FFF;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
}

.uk-accordion-title:hover{
    background-color: #f5f5f5;
}

.uk-button.uk-button-secondary{
    margin-top: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);;
}

.uk-offcanvas-bar {
    background-color: #533B75;
}

.content.box{
    background-color: #ffffff;
    margin-top: 20px;
    padding: 20px;
}

.uk-icon{
    padding-left: 2px;
}

.uk-card.uk-card-default.uk-card-body{
    background-color: #ffffff;
}

.align-center{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.uk-table th {
  padding: 3px 3px;
  text-align: left;
  vertical-align: bottom;
  /* 1 */
  font-size: 0.875rem;
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
}

.uk-light .uk-input:focus,
.uk-light .uk-select:focus,
.uk-light .uk-textarea:focus,
.uk-section-primary:not(.uk-preserve-color) .uk-input:focus,
.uk-section-primary:not(.uk-preserve-color) .uk-select:focus,
.uk-section-primary:not(.uk-preserve-color) .uk-textarea:focus,
.uk-section-secondary:not(.uk-preserve-color) .uk-input:focus,
.uk-section-secondary:not(.uk-preserve-color) .uk-select:focus,
.uk-section-secondary:not(.uk-preserve-color) .uk-textarea:focus,
.uk-tile-primary:not(.uk-preserve-color) .uk-input:focus,
.uk-tile-primary:not(.uk-preserve-color) .uk-select:focus,
.uk-tile-primary:not(.uk-preserve-color) .uk-textarea:focus,
.uk-tile-secondary:not(.uk-preserve-color) .uk-input:focus,
.uk-tile-secondary:not(.uk-preserve-color) .uk-select:focus,
.uk-tile-secondary:not(.uk-preserve-color) .uk-textarea:focus,
.uk-card-primary.uk-card-body .uk-input:focus,
.uk-card-primary.uk-card-body .uk-select:focus,
.uk-card-primary.uk-card-body .uk-textarea:focus,
.uk-card-primary > :not([class*='uk-card-media']) .uk-input:focus,
.uk-card-primary > :not([class*='uk-card-media']) .uk-select:focus,
.uk-card-primary > :not([class*='uk-card-media']) .uk-textarea:focus,
.uk-card-secondary.uk-card-body .uk-input:focus,
.uk-card-secondary.uk-card-body .uk-select:focus,
.uk-card-secondary.uk-card-body .uk-textarea:focus,
.uk-card-secondary > :not([class*='uk-card-media']) .uk-input:focus,
.uk-card-secondary > :not([class*='uk-card-media']) .uk-select:focus,
.uk-card-secondary > :not([class*='uk-card-media']) .uk-textarea:focus,
.uk-overlay-primary .uk-input:focus,
.uk-overlay-primary .uk-select:focus,
.uk-overlay-primary .uk-textarea:focus,
.uk-offcanvas-bar .uk-input:focus,
.uk-offcanvas-bar .uk-select:focus,
.uk-offcanvas-bar .uk-textarea:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(176, 83, 178, 0.7);
}

.uk-light .uk-button-default:hover,
.uk-light .uk-button-default:focus,
.uk-section-primary:not(.uk-preserve-color) .uk-button-default:hover,
.uk-section-primary:not(.uk-preserve-color) .uk-button-default:focus,
.uk-section-secondary:not(.uk-preserve-color) .uk-button-default:hover,
.uk-section-secondary:not(.uk-preserve-color) .uk-button-default:focus,
.uk-tile-primary:not(.uk-preserve-color) .uk-button-default:hover,
.uk-tile-primary:not(.uk-preserve-color) .uk-button-default:focus,
.uk-tile-secondary:not(.uk-preserve-color) .uk-button-default:hover,
.uk-tile-secondary:not(.uk-preserve-color) .uk-button-default:focus,
.uk-card-primary.uk-card-body .uk-button-default:hover,
.uk-card-primary.uk-card-body .uk-button-default:focus,
.uk-card-primary > :not([class*='uk-card-media']) .uk-button-default:hover,
.uk-card-primary > :not([class*='uk-card-media']) .uk-button-default:focus,
.uk-card-secondary.uk-card-body .uk-button-default:hover,
.uk-card-secondary.uk-card-body .uk-button-default:focus,
.uk-card-secondary > :not([class*='uk-card-media']) .uk-button-default:hover,
.uk-card-secondary > :not([class*='uk-card-media']) .uk-button-default:focus,
.uk-overlay-primary .uk-button-default:hover,
.uk-overlay-primary .uk-button-default:focus,
.uk-offcanvas-bar .uk-button-default:hover,
.uk-offcanvas-bar .uk-button-default:focus {
    background-color: transparent;
    color: rgba(176, 83, 178, 0.7);
    border-color: rgba(176, 83, 178, 0.7);
}

@media screen and (max-width: 640px) {
    img {
        width: 40%;

        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: table-cell;
        vertical-align: middle

    }
}

@media screen and (max-width: 400px) {
    img {
        width: 55%;

        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: table-cell;
        vertical-align: middle

    }
}
